<label for="email">Email:</label><input id="email" type="text" name="email"
    placeholder="Email.........">
<label for="password">Password:</label><input id="password" type="text" name="password"
placeholder="...">