<div class ="container">
    <div class ="heading">
        <a class = "btn btn_success" href="/">Homepage</a>
    </div>
    <div class="form">
        <div class="side_img">
            <!-- <img src="\img\1.jpg" alt="" srcset=""> -->
        
        </div>
        <div class ="form_container">
            <form action ="/user" method="post">
                <%- include('_form_user') %>              
            </form>
        </div>
    </div>
</div>